* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ui.basic.secondary.button, .ui.basic.secondary.buttons .button {
  box-shadow: 0 0 0 1px #1b1c1d inset !important;
  color: #1b1c1d !important;
  border-radius: 300px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
